h2 {
  color: tomato;
}
h4 {
  color: seagreen;
}

.modulo {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.marging {
  margin: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.sidenavImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}
.imagenesHelp {
  /* border-width: 5px;
  border-style: solid;
  border-color: crimson; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.lista {
  height: 100%;
}
.br4 {
  border-radius: 4px;
}
.liJorCard {
  list-style: none;
  background-color: white;
  border-radius: 3px;
  margin-top: 15px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
}

.btn-delete {
  margin-left: auto;
  border: none;

  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 10%;
  font-size: 1.2em;
}
li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}
.btn-cierre {
  margin-bottom: 10px;
  margin-right: 10px;
}

.fixBottom {
  position: fixed;
  bottom: 0;
  left: 90%;
  transform: translateX(-50%);
  /* El transform: translateX(-50%) es para centrar el elemento horizontalmente */
}
.footerHoras {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.negrita {
  border: 2px solid #4db6ac;
  background-color: #4db6ac;
  border-radius: 25px;
  padding: 5px 5px;
  display: inline-block;
  color: #f2faf9;
  width: 8rem;
}
.switch
  label
  input[type="checkbox"]:not(:checked):not(:disabled)
  + .lever:after {
  background-color: teal;
}
/* Estilo para el lever */
.switch label input[type="checkbox"] + .lever {
  width: 40px; /* Ancho fijo para el lever */
}

.hidden {
  opacity: 0;
  transform: scale(0);
}
#btnSumarDia {
  margin-right: 7px;
}
#moduloJorGuardadas {
  height: 100vh;
}
